# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/IngeneosTest.Application/obj
/IngeneosTest.Application/bin/Debug/netcoreapp3.1
/IngeneosTest.Core/bin/Debug/netcoreapp3.1
/IngeneosTest.Core/obj
/IngeneosTest.EntityFrameworkCore/bin/Debug/netcoreapp3.1
/IngeneosTest.EntityFrameworkCore/obj
/IngeneosTest.Service/bin/Debug/net5.0
/IngeneosTest.Service/obj
